<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
</head>
<body>
<!-- =============================================== -->
<section layout:fragment="content">
    <!-- Main content -->
    <section id="usersApp" class="content" data-ng-cloak="">
        <div ng-view="ng-view"></div>
    </section>
    <!-- /.content -->
</section>

<section layout:fragment="main-js">
    <script type="text/javascript" data-main="/resources/js/users/runUsersApp"
            src="/resources/bower_components/requirejs/require.js"></script>
</section>

</body>
</html>
