<div class="row">
    <div class="col-md-6">


        <!-- general form elements -->
        <div class="box box-primary" ng-controller="BaseFormCtrl">
            <div class="box-header">
                <h3 class="box-title" ng-text>Quick Example</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form role="form" ng-controller="ContentDetailsCtrl" ng-mode>
                <div class="box-body">
                    <div class="form-group">
                        <label for="mainContentInput">Main content</label>
                        <textarea rows="3" cols="4" type="textarea" ng-model="content.mainContent" class="form-control"
                                  id="mainContentInput" placeholder="Enter main content"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="userCreateInput">User creaded</label>
                        <input type="text" id="userCreateInput" class="form-control disabled" ng-model="content.userCreated.username"/>
                        <!--<label id="userCreateLbl">{{content.userCreated.username}}</label>-->
                    </div>

                    <!--<div class="form-group">
                        <label for="mainContentInput">Main content</label>
                        <textarea rows="3" cols="4" type="textarea" content="{{content.mainContent}}" class="form-control" id="mainContentInput" placeholder="Enter main content"></textarea>
                    </div>-->
                    <!--<div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>-->
                    <!--<div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="checkbox">
                        <label class="">
                            <div class="icheckbox_minimal" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> Check me out
                        </label>
                    </div>-->
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="button" ng-click="save()" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div><!-- /.box -->

    </div>
</div>